*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
}

button:active{
    transform: scale(0.9);
}

/***HEADER***/

.bg-blue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 20px 10px;
    background-color: rgb(69, 69, 165);
}

.bg-blue h1{
    display: inline-block;
    font-size: 20px;
}

.bg-blue button{
    padding: 0px 10px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: transparent;
}

/*** / HEADER***/

.jumbotron{
    margin-bottom: 5%;
    background-color: rgb(88, 187, 153);
}

.profile{
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0;
}

.profile img{
    margin-bottom: 15px;
    margin-top: 30px;
}

.profile li{
    list-style: none;
    display: inline-block;
    margin-bottom: 30px;
}

.profile a{
    text-decoration: none;
    color: white;
}

.profile a:hover{
    text-decoration: underline;
}



.portfolio,
.about-title,
.contact-me{
    text-align: center;
    padding-bottom: 3%;
}

.dv-card{
    margin-bottom: 10%;
}


.image img{
    width: 100%;
    border-radius: 20px;
}

.about{
    padding-bottom: 5%;
    background-color: rgb(88, 187, 153);
    margin-bottom: 5%;
}

.about-title{
    padding-top: 5%;
    color: white;
}

.lorem{
    margin-bottom: 5%;
    color: white;
    padding: 0 2%;
}

.download-button{
    justify-content: center;
}

.download{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.download button{
    padding: 5% 15%;
    border: 0;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.info{
    padding-bottom: 5%;
}

.contact{
    justify-content: center;
}

.contact-link ul{
    padding-left: 0;
}

.contact-link li{
    list-style: none;
    line-height: 40px;
    border-bottom: 1px solid lightgray;
}
.contact-link a{
    color: black;
    text-decoration: none;
}

.contact-link a:hover{
    text-decoration: underline;
}

textarea{
    height: 150px;
    width: 100%;
    padding: 5px 2%;
    line-height: 20px;
}

#send{
    padding: 5px 15px;
    background-color: rgb(88, 187, 153);
    border: 0;
    border-radius: 5px;
    color: white;
}

.social-contact{
    padding-top: 5%;
    background-color: rgb(74, 74, 189);
    color: white;
}

.social{
    justify-content: center;
    text-align: center;
}

.social-info{
    margin-bottom: 40px;
}

.social-info i{
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border: 1px solid white;
    border-radius: 50%;
}

.bg-copyright{
    background-color: rgb(49, 49, 98);
    color: white;
}

.copyright{
    justify-content: center;
    text-align: center;
    line-height: 100px;
}